In [9]:
!pip install mysql-connector-python
from mysql import connector
import pandas as pd
import glob

connection = connector.connect(
    host = "localhost",
    user="root",
    password = "Umaravidaryam@2810"  
)

cursor=connection.cursor()
cursor

NameError: name 'cursor' is not defined

In [13]:
!pip install mysql-connector-python
from mysql import connector
import pandas as pd
import glob

connection = connector.connect(
    host = "localhost",
    user="root",
    password = "Umaravidaryam@2810"  
)



df = pd.read_csv("andhra.csv")
df = pd.read_csv("assam.csv")
df = pd.read_csv("bihar.csv")
df = pd.read_csv("kerala.csv")
df = pd.read_csv("telangana.csv")
df = pd.read_csv("rajasthan.csv")
df = pd.read_csv("jammukashmir.csv")
df = pd.read_csv("punjab.csv")
df = pd.read_csv("kadamba.csv")
df = pd.read_csv("westbengal.csv")


csv_files = ["andhra.csv", "assam.csv", "bihar.csv", "kerala.csv", "telangana.csv", "rajasthan.csv","jammukashmir.csv", "punjab.csv", "kadamba.csv", "westbengal.csv"]   


df = [pd.read_csv(file) for file in csv_files]



combined_df = pd.concat(df, ignore_index=True)

combined_df.to_csv("bus_routes.csv", index=False)


id_column = pd.Series(range(1, len(df) + 1), name='id')
df = pd.concat([id_column, combined_df], axis=1)
df = pd.read_csv("bus_routes.csv")


df['Price'] = df['Price'].str.replace('INR ', '')


df['Seat_Availability'] = df['Seat_Availability'].str.extract('(\d+)')


import mysql
connection = connector.connect(host='localhost', user='root',password='Umaravidaryam@2810',database="redbus")
df = pd.read_csv("bus_routes.csv")
df = df.dropna() 
a = ",".join(f"{i} {j}"
for i,j in zip(df.columns,df.dtypes)).replace("float64","float").replace("object","text").replace("int64","int") #replace dtypes from pandas to mysql
table_name = "bus_routes"
connection.cursor().execute(f"create table {table_name} ({a})")
for i in range(len(df)):
    connection.cursor().execute(f"insert into {table_name} values {tuple(df.iloc[i])}")
    connection.commit()

<>:46: SyntaxWarning: invalid escape sequence '\d'
<>:46: SyntaxWarning: invalid escape sequence '\d'
C:\Users\YAMINI RAVICHANDRAN\AppData\Local\Temp\ipykernel_11224\2259777110.py:46: SyntaxWarning: invalid escape sequence '\d'
  df['Seat_Availability'] = df['Seat_Availability'].str.extract('(\d+)')

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: mysql-connector-python in c:\users\yamini ravichandran\appdata\local\programs\python\python313\lib\site-packages (9.1.0)

C:\Users\YAMINI RAVICHANDRAN\AppData\Local\Temp\ipykernel_11224\2259777110.py:46: SyntaxWarning: invalid escape sequence '\d'
  df['Seat_Availability'] = df['Seat_Availability'].str.extract('(\d+)')

ProgrammingError: 1050 (42S01): Table 'bus_routes' already exists

Requirement already satisfied: mysql-connector-python in c:\users\yamini ravichandran\appdata\local\programs\python\python313\lib\site-packages (9.1.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
from mysql import connector

csv_files = ["andhra.csv", "assam.csv", "bihar.csv", "kerala.csv", 
             "telangana.csv", "rajasthan.csv", "jammukashmir.csv", 
             "punjab.csv", "kadamba.csv", "westbengal.csv"]

df_list = [pd.read_csv(file) for file in csv_files]
combined_df = pd.concat(df_list, ignore_index=True)

combined_df.insert(0, 'id', range(1, len(combined_df) + 1))

if 'Price' in combined_df.columns:
    combined_df['Price'] = combined_df['Price'].astype(str).str.replace('INR ', '', regex=False).astype(float)

if 'Seat_Availability' in combined_df.columns:
    combined_df['Seat_Availability'] = combined_df['Seat_Availability'].str.extract('(\d+)').astype(float)

combined_df = combined_df.dropna()

try:
    connection = connector.connect(
        host="localhost",
        user="root",
        password="Umaravidaryam@2810",
        database="redbus"
    )
    cursor = connection.cursor()

    table_name = "bus_routes"
    cursor.execute(f"DROP TABLE IF EXISTS {table_name}")

    sql_columns = ", ".join(
        f"`{col}` {'FLOAT' if dtype == 'float64' else 'INT' if dtype == 'int64' else 'TEXT'}"
        for col, dtype in zip(combined_df.columns, combined_df.dtypes)
    )

    create_table_query = f"CREATE TABLE {table_name} ({sql_columns});"
    cursor.execute(create_table_query)

    data_tuples = [tuple(x) for x in combined_df.to_numpy()]
    insert_query = f"INSERT INTO {table_name} ({', '.join(combined_df.columns)}) VALUES ({', '.join(['%s'] * len(combined_df.columns))})"

    cursor.executemany(insert_query, data_tuples)
    connection.commit()

    print("Data successfully inserted into MySQL database.")

except connector.Error as err:
    print(f"Error: {err}")

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()

<>:21: SyntaxWarning: invalid escape sequence '\d'
<>:21: SyntaxWarning: invalid escape sequence '\d'
C:\Users\YAMINI RAVICHANDRAN\AppData\Local\Temp\ipykernel_11468\3082973061.py:21: SyntaxWarning: invalid escape sequence '\d'
  combined_df['Seat_Availability'] = combined_df['Seat_Availability'].str.extract('(\d+)').astype(float)

Data successfully inserted into MySQL database.